:root {
	--palette1: #F34D87;
	--palette1-acc1: #FDA4C4;
	--palette1-acc1-t: #FDA4C488;
	--palette2: #502c98;
	--palette3: #4883b7;
	--palette4: #c1b970;
	
	--palettegray: #888888;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	margin:0;
	font-family: Verdana, sans-serif;
	padding:0;
}

header {
	display: block;
	background: linear-gradient(160deg,var(--palette1),var(--palette2));
	color: white;
}

header > h1 {
	display: block;
	margin:0;
	padding: 10px;
	padding-top: 20px;
	font-size: 16pt;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	height: 60px;
}

nav > ul {
	display: flex;
	margin: 0;
	padding:0;
	flex-flow: row nowrap;
	list-style: none;
	align-items: stretch;
}

.nav-item {
	display: flex;
	align-items: stretch;
}

.nav-item > a {
	background: none;
	color: white;
	text-decoration:none;
	padding:10px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	transition: background-color, 0.2s;
}

.nav-item > a:hover {
	background: var(--palette1-acc1-t);
}


main {
	padding: 10px;
}


footer {
	background: linear-gradient(160deg,var(--palette2),var(--palette3));
	color: white;
	padding:10px;
}

.carousel:before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px #00000040 inset;
  pointer-events: none;
  opacity: 0;
  transition: opacity, 0.3s;
}

.carousel:hover:before {
  opacity: 1;
}

.carousel {
	background: none;
	height:500px;
	position: relative;
	overflow:clip;
}

.carousel * {
	user-select: none;
}

.carousel > .carousel-content {
	position: relative;
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	top: 25px;
	left: 30px;
	overflow: visible;
	z-index: 0;
	transition: top, 0.3s;
}

.carousel:hover .carousel-content {
	top: 30px;
}

/* Hides images in carousel until loaded */
.carousel > img {
	display: none;
}

.carousel .carousel-content * {
	position: absolute;
	/* Makes the images the right aspect ratio */
	width: auto;
	margin-left:50%;
}

.carousel .carousel-controls {
	position: absolute;
	z-index: 1;
	top:0;
	left:0;
	height:100%;
	width:100%;
	pointer-events:none;
	transition: opacity, 0.3s;
}

.carousel .carousel-button {
	height: 20%;
	top: 40%;
	aspect-ratio: 1;
	position: absolute;
	pointer-events:auto;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s;
}

.carousel:hover .carousel-button {
	opacity: 1;
}

.carousel .carousel-button-right {
	right:0;
}

.carousel .carousel-button-left > img {
	position: relative;
	filter: drop-shadow(0 0 4px #00000088);
	transform: scaleX(-1);
}

.carousel .carousel-button-right > img {
	position: relative;
	filter: drop-shadow(0 0 4px #00000088);
}

.carousel .carousel-button-right:hover > img{
	filter: drop-shadow(0 0 4px black);
	left: 2px;
}

.carousel .carousel-button-left:hover > img{
	filter: drop-shadow(0 0 4px black);
	left: -2px;
}

.carousel .carousel-dots {
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.carousel .carousel-dots:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: radial-gradient(ellipse farthest-side at 50% 100%,#00000088,#00000000);
	opacity: 0;
	transition: opacity, 0.3s;
}

.carousel:hover .carousel-dots:before {
	opacity: 1;
}

.carousel .carousel-dots .carousel-dot {
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer;
	pointer-events: auto;
}

.carousel .carousel-dots .carousel-dot span {
	position: relative;
	display: block;
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: var(--palette4);
	border-radius: 50%;
	border: 2px solid transparent;
	background-clip: padding-box;
	transition: all 0.2s;
}

.carousel:hover .carousel-dots .carousel-dot span {
	background-color: white;
	border-color: white;
	background-clip: initial;
}

.carousel .carousel-dots .carousel-dot:hover span {
	top: -2px;
}

.carousel .carousel-dots .carousel-dot.selected span {
	/* background-color: var(--palette3); */
	outline: 2px solid var(--palette4);
}

.carousel:hover .carousel-dots .carousel-dot.selected span {
	outline: none;
	background-color: var(--palette3);
	width: 14px;
	height: 14px;
}

@media screen and (max-width: 850px) {
	.carousel {
		height: 300px;
	}
}