:root {
	--palette1: #9EE293;
	--palette1-acc1: #FDA4C4;
	--palette1-acc1-t: #FDA4C488;
	--palette2: #d793e2;
	--palette2-50d: #6c4a71;
	--palette3: #93c5e2;
	--palette3-20d: #769eb5;
	--palette3-50d: #4a6371;
	--palette4: #e2af93;
	--palette4-20d: #b58c76;
	--palette4-50l: #f1d7c9;

	/* --palette1: #C1F7DC;
	--palette1-acc1: #FDA4C4;
	--palette1-acc1-t: #FDA4C488;
	--palette2: #bda0bc;
	--palette3: #4883b7;
	--palette3-30d: #325c80;
	--palette4: #824670;
	--palette4-20d: #9a945a; */

	--palettegray: #888888;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 0;
}

header {
	display: block;
	background: linear-gradient(160deg, var(--palette1), var(--palette4-50l), var(--palette2));
	color: white;
	padding: 10px;
	padding-top: 20px;
}

header>h1 {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	font-size: 12pt;
	color: var(--palette2-50d);
	margin-top: 10px;
	border-bottom: 2px solid var(--palette2-50d);
	padding-bottom: 6px;
}

#letter-logo {
	width: 70%;
	max-width: 300px;
	display: block;
	background: radial-gradient(closest-side, white, transparent);
}

#logo {
	width: 80px;
	position: absolute;
	visibility: hidden;
}

#nav-button:before {
	content: '\2630';
	color: white;
	font-size: 24pt;
	vertical-align: middle;
	line-height: 0;
}

#nav-button {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	background: #00000044;
	border: none;
	width: 60px;
	height: 60px;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.2s;
	cursor: pointer;
}

#nav-button:hover {
	background: #00000088;
}

nav {
	display: flex;
	justify-content: center;
	overflow-y: clip;
	/* display: none; */
	height: 0;
	transition: height 0.3s;
}

nav.enabled {
	height: 300px;
}

nav>ul {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	flex-flow: column nowrap;
	list-style: none;
	align-items: stretch;
}

.nav-item {
	display: flex;
	align-items: stretch;
}

.nav-item>a {
	background: none;
	color: white;
	text-decoration: none;
	padding: 20px;
	text-align: center;
	text-shadow: 0 0 4px #000000aa;
	flex-grow: 1;
	border-radius: 8px;
	transition: background-color, 0.2s;
}

.nav-item>a:hover {
	/* background: var(--palette1-acc1-t); */
	background: #00000044;
}

@media screen and (min-width: 800px) {
	header {
		padding-bottom: 0;
	}

	header>h1 {
		text-align: center;
		font-size: 16pt;
	}

	#letter-logo {
		max-width: 400px;
		margin: auto;
	}

	#logo {
		visibility: visible;
	}

	#nav-button {
		display: none;
	}

	nav {
		height: 60px;
	}

	nav>ul {
		flex-direction: row;
		justify-content: center;
	}

	.nav-item>a {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}


main {
	padding: 10px;
	color: var(--palette3-20d);
}

main h2 {
	color: var(--palette3-50d);
	text-decoration: underline var(--palette4);
	/* border-bottom: 2px solid var(--palette4); */
	/* width: 40%; */
}


footer {
	background: linear-gradient(160deg, var(--palette2), var(--palette3));
	color: white;
	padding: 30px;
}

footer>* {
	margin: auto;
	text-align: center;
	font-style: italic;
}

footer a {
	color: currentColor;
}

#back-to-top-button {
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}

.fig-right {
	width: 100%;
}

@media screen and (min-width: 800px) {
	.fig-right {
		width: 50%;
		float: right;
		background: red;
		margin-left: 40px;
	}
}

/* All the carousel-related stuff below */

.carousel:before {
	content: "";
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 10px 20px #00000040 inset;
	pointer-events: none;
	opacity: 0;
	transition: opacity, 0.3s;
}

.carousel:hover:before {
	opacity: 1;
}

.carousel {
	background: none;
	aspect-ratio: 3 / 2;
	position: relative;
	overflow: clip;
}

.carousel * {
	user-select: none;
}

.carousel>.carousel-content {
	position: relative;
	height: calc(95% - 32px);
	width: 90%;
	top: calc(5% - 5px);
	left: 5%;
	overflow: visible;
	z-index: 0;
	transition: top, 0.3s;
}

.carousel:hover .carousel-content {
	top: 5%;
}

/* Hides images in carousel until loaded */
.carousel>img {
	display: none;
}

.carousel .carousel-content * {
	position: absolute;
	/* Makes the images the right aspect ratio */
	width: auto;
	margin-left: 50%;
	border-radius: 5px;
}

.carousel .carousel-controls {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	transition: opacity, 0.3s;
}

.carousel .carousel-button {
	height: 20%;
	top: 40%;
	aspect-ratio: 1;
	position: absolute;
	pointer-events: auto;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s;
}

.carousel:hover .carousel-button {
	opacity: 1;
}

.carousel .carousel-button-right {
	right: 0;
}

.carousel .carousel-button-left>img {
	position: relative;
	filter: drop-shadow(0 0 4px #00000088);
	transform: scaleX(-1);
}

.carousel .carousel-button-right>img {
	position: relative;
	filter: drop-shadow(0 0 4px #00000088);
}

.carousel .carousel-button-right:hover>img {
	filter: drop-shadow(0 0 4px black);
	left: 2px;
}

.carousel .carousel-button-left:hover>img {
	filter: drop-shadow(0 0 4px black);
	left: -2px;
}

.carousel .carousel-dots {
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.carousel .carousel-dots:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: radial-gradient(ellipse farthest-side at 50% 100%, #00000088, #00000000);
	opacity: 0;
	transition: opacity, 0.3s;
}

.carousel:hover .carousel-dots:before {
	opacity: 1;
}

.carousel .carousel-dots .carousel-dot {
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer;
	pointer-events: auto;
}

.carousel .carousel-dots .carousel-dot span {
	position: relative;
	display: block;
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: var(--palette4);
	border-radius: 50%;
	border: 2px solid transparent;
	outline: 0px solid var(--palette4);
	background-clip: padding-box;
	transition: all 0.2s;
}

.carousel:hover .carousel-dots .carousel-dot span {
	background-color: white;
	border-color: white;
	background-clip: initial;
}

.carousel .carousel-dots .carousel-dot:hover span {
	top: -2px;
}

.carousel .carousel-dots .carousel-dot.selected span {
	/* background-color: var(--palette3); */
	outline: 2px solid var(--palette4);
}

.carousel:hover .carousel-dots .carousel-dot.selected span {
	outline: none;
	background-color: var(--palette3-20d);
	width: 14px;
	height: 14px;
}